.favoritos {
    background-color: #eceeef;
    padding: 5rem 0;
}

.favoritos__heading {
    text-align: center;
    color: #455a64;
}

.favorito {
    background-color: #ffffff;
    padding: 4rem;
    box-shadow: 0px 0px 2.6rem -0.8rem #99a4a9;
    border-radius: 1rem;
}

.favorito__imagen {
    max-width: 20rem;
    margin: 0 auto 2rem auto;
}

.favorito__contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.favorito__nombre {
    margin: 1rem 0;
    color: #e8505b;
    font-size: 2.4rem;
}
.favorito__descripcion {
    margin: 0.5rem 0;
    font-size: 1.6rem;
    color: #455a64;
    line-height: 1.7;
}