.formulario__contenido {
    background-color: #e8505b;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formulario__heading {
    color: #ffffff;
    text-align: center;
}

.formulario__campo {
    margin-bottom: 1rem;
}

.formulario__label {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    margin: 1rem 0;
}

.formulario__input {
    width: 100%;
    padding: 1.5rem;
    border: none;
}

.formulario__button {
    margin-top: 2rem;
    background-color: #455a64;
    color: #ffffff;
    width: 100%;
    font-size: 2rem;
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    border: none;
}

.formulario__imagen-contenedor {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.formulario__imagen {
    width: 100%;
}