.pasos {
    margin-top: 5rem;
}

.pasos__contenido {
    background-color: #e8505b;
    padding-top: 50px;
}

.pasos__heading {
    text-align: center;
    color: #ffffff;
}

.pasos__heading--descripcion {
    font-size: 1.8rem;
    display: block;
}