
h2 {
    font-size: 3.6rem;
}

h1, h2, h3 {
    margin: 0 0 5rem 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

p {
    color: #000;
    font-size: 2rem;
}

h3 {
    font-size: 3.2rem;
}